body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    background-color: black;
}

header {
    background-color: #343a40;
    color: white;
    padding: 1em 0;
    font-size: 25px;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
}

nav ul li {
    margin: 0 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

main {
    padding: 2em;
    text-align: center;
    margin-bottom: 60px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: black;
    padding: 30px;
    gap: 15px;
    border-radius: 10px;
}

/*tablet*/
@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*celular*/
@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

h1 {
    font-size: 50px;
}

.personaje-card {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    background-color: grey;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
}

.personaje-card img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 10px;
}

.personaje-card h4 {
    font-size: 1.2em;
    margin-bottom: 5px;
    text-align: center;
}

.personaje-card p {
    margin: 5px 1px;
    font-size: large;
    padding: 5px;
}

.personaje-card:hover {
    transform: scale(1.02);
    border: solid 1px white;
    cursor: pointer;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: relative;
    width: 100%;
    bottom: 0;
}