.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: black;
    padding: 30px;
    gap: 15px;
    border-radius: 10px;
}

/*tablet*/
@media (max-width: 768px) {
    .grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

/*celular*/
@media (max-width: 480px) {
    .grid {
        grid-template-columns: 1fr;
    }
}

h1 {
    font-size: 50px;
}

.personaje-card {
    display: inline-block;
    padding: 10px;
    margin: 10px;
    background-color: grey;
    border-radius: 15px;
    text-align: center;
    transition: 0.3s;
}

.personaje-card img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto 10px;
}

.personaje-card h4 {
    font-size: 1.2em;
    margin-bottom: 5px;
    text-align: center;
}

.personaje-card p {
    margin: 5px 1px;
    font-size: large;
    padding: 5px;
}

.personaje-card:hover {
    transform: scale(1.02);
    border: solid 1px white;
    cursor: pointer;
}